.popup{
	height: 600px;
	width: 400px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url("images/2560x1600-504901-hacker-Free.jpg");
	background-size: cover;
}


.title{
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bolder;
	color: green;
}
.btn-1{
	background-color: #04AA6D;
	margin-left: 100px;
	border-style: none;
	border-radius: 5px;
	height: 25px;
	width: 50px;
	font-weight: bold;
	color: white;
}
button:hover{
	background-color: cyan;
	transition-duration: 1.5s;
}

.login-text{
	font-weight: bold;
	color: white;
	font-size: 15px;
}
input{
	height: 50px;
	width: 390px;
}
.btn-2{
	background-color: #04AA6D;
	border-style: none;
	border-radius: 5px;
	height: 25px;
	width: 100px;
	font-weight: bold;
	color: white;
	margin-left: 300px;
}
.response-title{
	font-weight: bold;
	text-align: center;
	color: green;
	font-size: 18px;
}
#prompt{
	background-color: #393f4d;
	color: white;
}
.generated{
	background-color: #393f4d;
	color: white;
}